.App {
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
  height: 100vh;
  transform: translate3d(0, 0, 0);
  position: relative;
}

.moon {
  z-index: 3;
  width: 600px;
  height: 600px;
  display: block;
  filter: opacity(0.4) contrast(1.5);
  border-radius: 50%;
  overflow: hidden;
}
