.bg-loop {
  animation-name: slide;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-vertical {
  animation-name: slide-vertical !important;
}

.bg {
  height: 100vh;
  /*width: 100vw;*/
  background-size: contain;
  background-repeat: repeat;

  /*image-rendering: pixelated;*/
  /*filter: hue-rotate(0.375turn);*/
}

@keyframes slide {
  0% {
    background-position: -50vh 0%;
  }

  100% {
    background-position: 50vh 0%;
  }
}

@keyframes slide-vertical {
  0% {
    background-position: 0% -50vh;
  }

  100% {
    background-position: 0% 50vh;
  }
}