.cover {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-size: contain;
}

.cover-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 0;
}

.cover-img {
  width: 100%;
}

.cover-playing {
  animation: 0s linear 0s infinite reverse both running spin;
}

.cover-reverse {
  animation-direction: normal;
}

@keyframes spin {
    0% {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

