.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  font-size: 3rem;
  bottom: 20px;
  width: 100%;
  z-index: 10;
}

.artist, .album {
  font-family: 'Bungee Hairline', cursive;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -10px;
  word-spacing: 10px;
  display: flex;
  flex: 0 1 660px;
  align-items: center;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.artist {
  text-align: left;
  padding-left: 20px;
}
.album {
  text-align: right;
  padding-right: 20px;
}
