.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  font-size: 5.5rem;
  bottom: 260px;
  width: 100%;
  z-index: 10;
}

.artist, .album {
  font-family: 'Bungee Hairline', cursive;
  /*font-family: 'Broken 15';*/
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -10px;
  word-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist {
  text-align: left;
  padding-left: 40px;
  padding-right: 10px;
  max-width: 620px;
}
.album {
  text-align: right;
  padding-right: 40px;
  padding-left: 10px;
  max-width: 680px;
}
