.track, .transition-overlay {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.transition-overlay {
    animation-name: trackFade;
    background-color: black;
}

@keyframes trackFade {
  0% {
/*    filter: opacity(0%);
*/
    filter: opacity(100%);
  }

  2% {
    /*opacity: 0;*/
    /*filter: opacity(100%);*/
    filter: opacity(0%);
  }

  98% {
    filter: opacity(0%);
    /*filter: opacity(100%);*/
  }

  100% {
    filter: opacity(100%);
    /*filter: opacity(0%);*/
  }
}